@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.input-group {
  position: relative;
  margin: 20px 0;
  width: inherit;
}

.input-group label {
  position: absolute;
  width: '100%';
  top: 75%;
  left: 10px;
  transform: translateY(-100%) translateX(-10px);
  font-size: 16px;
  color: #fff;
  padding: 0 7px;
  pointer-events: none;
  transition: .5s;
}

.input-group input {
  width: '100%';
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
  background: transparent;
  border: 1.2px solid #fff;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0;
  font-size: 12px;
  background: transparent;
  /* background: #7d2ae8; */
}

.button {
	pointer-events: auto;
	cursor: pointer;
  width: '100%';
	background: #e7e7e7;
	border: none;
	padding: 0.375rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pan {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 3rem;
	overflow: hidden;
	color: #fff;
}

.button--pan span {
	position: relative;
	mix-blend-mode: difference;
}

.button--pan::before {
	content: '';
	background: #000;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
	transform: translate3d(0,-100%,0);
}